@model CleantopiaCRM.Web.Models.Common.PagedResult<CleantopiaCRM.Web.Entities.Customer>
<h4>Kh·ch h‡ng <a href="/Customers/Create" class="btn btn-sm btn-brand">ThÍm</a></h4>
<form class="row g-2 mb-3"><div class="col-md-4"><input name="q" value="@Model.Query" class="form-control" placeholder="TÏm theo tÍn/sdt" /></div><div class="col-md-2"><button class="btn btn-outline-primary">TÏm</button></div></form>
<table class="table table-striped"><tr><th>TÍn</th><th>Qu?c gia</th><th>–?a ch?</th><th>S–T</th><th></th></tr>
@foreach (var x in Model.Items){<tr><td>@x.Name</td><td>@x.Country?.Name</td><td>@x.Address?.FullText</td><td>@x.Phone</td><td><a href="/Customers/Edit/@x.Id" class="btn btn-sm btn-outline-primary">S?a</a> <form method="post" action="/Customers/Delete/@x.Id" class="d-inline"><button class="btn btn-sm btn-outline-danger">XÛa</button></form></td></tr>}
</table>
