@model CleantopiaCRM.Web.Models.Common.PagedResult<CleantopiaCRM.Web.Entities.Employee>
<h4>Nh‚n viÍn <a href="/Employees/Create" class="btn btn-sm btn-brand">ThÍm</a></h4>
<form class="row g-2 mb-3"><div class="col-md-4"><input name="q" value="@Model.Query" class="form-control" placeholder="TÏm theo tÍn/m„" /></div><div class="col-md-2"><button class="btn btn-outline-primary">TÏm</button></div></form>
<table class="table table-striped"><tr><th>M„</th><th>TÍn</th><th>Vai trÚ</th><th>S–T</th><th>–?a ch?</th><th></th></tr>
@foreach (var x in Model.Items){<tr><td>@x.EmployeeCode</td><td>@x.FullName</td><td>@x.Role</td><td>@x.Phone</td><td>@x.Address?.FullText</td><td><a href="/Employees/Edit/@x.Id" class="btn btn-sm btn-outline-primary">S?a</a> <form method="post" action="/Employees/Delete/@x.Id" class="d-inline"><button class="btn btn-sm btn-outline-danger">XÛa</button></form></td></tr>}
</table>
